<html>
    <head>
        <% if(info.name == undefined){%>
            <title><%-info.reason%></title>
        <%}else{%>
            <title><%-title%></title>
        <%}%>
        <link rel="stylesheet" href="https://wowstats.xyz/stylesheets/style.css">
    </head>
    <body>
        <% if(info == undefined){ 
            console.log('Error Reading JSON');
            } else { %>
            <% if(info.name == undefined){%>
                <h1><%-info.reason%></h1>
            <%}else{%>
                <h1>Statistics of <%- info.name%></h1>
            <table>
                <tr>
                    <td>
                        <img src='https://render-api-us.worldofwarcraft.com/static-render/us/<%- info.thumbnail %>' alt='<%-info.name%>'></img>
                    </td>
                    <td>
                        <ul>
                            <li><b>Realm:</b> <%- info.realm %> (<%- info.battlegroup%>)</li>
                            <li><b>Level:</b> <%- info.level %></li>
                            <li><b>Race:</b> <%- race %> (<%- alliance %>)</li>
                            <li><b>Class:</b> <%- classname %></li>
                            <li><b>Total Honorable Kills:</b>  <%- info.totalHonorableKills%></li>
                        </ul>
                    </td>
                </tr>
            </table>
            <%}%>
            <% if(info.pvp != undefined) {%>
                <h3 style='margin-bottom:0;'>Rated</h3>
                <table class='arena-table'>
                    <tr>
                        <th>
                            Bracket
                        </th>
                        <th>
                            Win
                        </th>
                        <th>
                            Loss
                        </th>
                        <th>
                            Rating
                        </th>
                    </tr>
                    <tr>
                        <td>
                            2 V 2
                        </td>
                        <td>
                            <%-info.pvp.brackets.ARENA_BRACKET_2v2.seasonWon%>
                        </td>
                        <td>
                            <%-info.pvp.brackets.ARENA_BRACKET_2v2.seasonLost%>
                        </td>
                        <td>
                            <%-info.pvp.brackets.ARENA_BRACKET_2v2.rating%>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3 V 3
                        </td>
                        <td>
                            <%-info.pvp.brackets.ARENA_BRACKET_3v3.seasonWon%>
                        </td>
                        <td>
                            <%-info.pvp.brackets.ARENA_BRACKET_3v3.seasonLost%>
                        </td>
                        <td>
                            <%-info.pvp.brackets.ARENA_BRACKET_3v3.rating%>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: .1em 1em;">
                            RATED BATTLEGROUNDS
                        </td>
                        <td>
                            <%-info.pvp.brackets.ARENA_BRACKET_RBG.seasonWon%>
                        </td>
                        <td>
                            <%-info.pvp.brackets.ARENA_BRACKET_RBG.seasonLost%>
                        </td>
                        <td>
                            <%-info.pvp.brackets.ARENA_BRACKET_RBG.rating%>
                        </td>
                    </tr>
                </table>
            <% } %>
            <% if(info.statistics != undefined){%>
                <table class="statistics-table">
                    <tr>
                        <th colspan='2' style='text-align: center;'><h3 style="margin-top: .8em; margin-bottom: .3em;">Damage</h3></th>
                    </tr>
                    <tr>
                        <th>
                            Largest Hit
                        </th>
                        <td>
                            <%- parseInt(info.statistics.subCategories[1].statistics[0].quantity).toLocaleString('en-US');%>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Largest Hit Recieved
                        </th>
                        <td>
                            <%- parseInt(info.statistics.subCategories[1].statistics[1].quantity).toLocaleString('en-US');%>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Total Damage Done
                        </th>
                        <td>
                            <%- parseInt(info.statistics.subCategories[1].statistics[2].quantity).toLocaleString('en-US');%>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Total Damage Recieved
                        </th>
                        <td>
                            <%- parseInt(info.statistics.subCategories[1].statistics[3].quantity).toLocaleString('en-US');%>
                        </td>
                    </tr>
                    <tr>
                        <th colspan='2' style='text-align: center;'><h3 style="margin-top: .8em; margin-bottom: .3em;">Healing</h3></th>
                    </tr>
                    <tr>
                        <th>
                            Largest Heal Cast
                        </th>
                        <td>
                            <%- parseInt(info.statistics.subCategories[1].statistics[4].quantity).toLocaleString('en-US');%>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Largest Heal Recieved
                        </th>
                        <td>
                            <%- parseInt(info.statistics.subCategories[1].statistics[5].quantity).toLocaleString('en-US');%>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Total Healing Done
                        </th>
                        <td>
                            <%- parseInt(info.statistics.subCategories[1].statistics[6].quantity).toLocaleString('en-US');%>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Total Healing Recieved
                        </th>
                        <td>
                            <%- parseInt(info.statistics.subCategories[1].statistics[7].quantity).toLocaleString('en-US');%>
                        </td>
                    </tr>
                    <tr>
                        <th colspan='2' style='text-align: center;'><h3 style="margin-top: .8em; margin-bottom: .3em;">Kills</h3></th>
                    </tr>
                    <tr>
                        <th>
                            Total Kills
                        </th>
                        <td>
                            <%- parseInt(info.statistics.subCategories[2].statistics[0].quantity).toLocaleString('en-US');%>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            World Honorable Kills (PVP)
                        </th>
                        <td>
                            <%- parseInt(info.statistics.subCategories[2].subCategories[1].statistics[1].quantity).toLocaleString('en-US');%>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Total Killing Blows (PVP)
                        </th>
                        <td>
                            <%- parseInt(info.statistics.subCategories[2].subCategories[2].statistics[0].quantity).toLocaleString('en-US');%>
                        </td>
                    </tr>
                    <tr>
                        <th colspan='2' style='text-align: center;'><h3 style="margin-top: .8em; margin-bottom: .3em;">Deaths</h3></th>
                    </tr>
                    <tr>
                        <th>
                            Total Deaths
                        </th>
                        <td>
                            <%- parseInt(info.statistics.subCategories[3].statistics[0].quantity).toLocaleString('en-US');%>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            K/D Ratio
                        </th>
                        <td>
                            <%- (parseInt(info.statistics.subCategories[2].statistics[0].quantity) / parseInt(info.statistics.subCategories[3].statistics[0].quantity)).toFixed(2);%>
                        </td>
                    </tr>
                    <tr>
                        <th colspan='2' style='text-align: center;'><h3 style="margin-top: .8em; margin-bottom: .3em;">Quests</h3></th>
                    </tr>
                    <tr>
                        <th>
                            Total Quests Completed
                        </th>
                        <td>
                            <%- parseInt(info.statistics.subCategories[4].statistics[0].quantity).toLocaleString('en-US');%>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Daily Quests Completed
                        </th>
                        <td>
                            <%- parseInt(info.statistics.subCategories[4].statistics[2].quantity).toLocaleString('en-US');%>
                        </td>
                    </tr>
                </table>
            <%}%>
            <div class='development' style='text-align:center;margin-top: 3em;'>
                Date Modified <%- Date(info.lastModified) %><br>
                <%- JSON.stringify(info);%>
            </div>
        <%}%>
</html>