body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: .5em;
    height: 150px;
    float: left;
}
.arena-table, .arena-table th, .arena-table tr, .arena-table td {
    border:1px solid black;
    text-align: center;
}
.arena-table{
    border-collapse: collapse;
    margin-top: .5em;
}
th{
    text-transform: uppercase;
    min-width: 100px;
}
ul{
    list-style-type: none;
    font-size: 1.1em;
}
.statistics-table{
    text-align: right;
    width: 35%;
}
.statistics-table th {
    text-align: left;
}
h3{
    margin-top: .8em; 
    margin-bottom: .3em;
}